/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitlePlayer.exe
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitlePlayer.exe.config
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitlePlayer.pdb
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitlePlayer.vshost.exe
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitlePlayer.vshost.exe.config
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitlePlayer.vshost.exe.manifest
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitleReader.dll
/SubtitlePlayer/SubtitlePlayer/bin/Debug/SubtitleReader.pdb
/SubtitlePlayer/SubtitlePlayer/obj/Debug/App.g.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/App.g.i.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SubtitlePlayer/SubtitlePlayer/obj/Debug/MainWindow.baml
/SubtitlePlayer/SubtitlePlayer/obj/Debug/MainWindow.g.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/MainWindow.g.i.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.Properties.Resources.resources
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.csproj.FileListAbsolute.txt
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.csproj.GenerateResource.Cache
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.csprojResolveAssemblyReference.cache
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.exe
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.g.resources
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer.pdb
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer_MarkupCompile.cache
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer_MarkupCompile.i.cache
/SubtitlePlayer/SubtitlePlayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SubtitlePlayer/SubtitlePlayer.v12.suo
/SubtitlePlayer/SubtitleReader/bin/Debug/SubtitleReader.dll
/SubtitlePlayer/SubtitleReader/bin/Debug/SubtitleReader.pdb
/SubtitlePlayer/SubtitleReader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SubtitlePlayer/SubtitleReader/obj/Debug/SubtitleReader.csproj.FileListAbsolute.txt
/SubtitlePlayer/SubtitleReader/obj/Debug/SubtitleReader.csprojResolveAssemblyReference.cache
/SubtitlePlayer/SubtitleReader/obj/Debug/SubtitleReader.dll
/SubtitlePlayer/SubtitleReader/obj/Debug/SubtitleReader.pdb
/SubtitlePlayer/SubtitleReader/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SubtitlePlayer/SubtitleReader/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SubtitlePlayer/SubtitleReader/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SubtitlePlayer/TestSubtitle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SubtitlePlayer/TestSubtitle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SubtitlePlayer/TestSubtitle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SubtitlePlayer/TestSubtitle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SubtitlePlayer/TestSubtitle/obj/Debug/TestSubtitle.csproj.FileListAbsolute.txt
/SubtitlePlayer/TestSubtitle/obj/Debug/TestSubtitle.csprojResolveAssemblyReference.cache
/SubtitlePlayer/UnitTestSubtitle/bin/Debug/SubtitleReader.dll
/SubtitlePlayer/UnitTestSubtitle/bin/Debug/SubtitleReader.pdb
/SubtitlePlayer/UnitTestSubtitle/bin/Debug/UnitTestSubtitle.dll
/SubtitlePlayer/UnitTestSubtitle/bin/Debug/UnitTestSubtitle.pdb
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/UnitTestSubtitle.csproj.FileListAbsolute.txt
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/UnitTestSubtitle.csprojResolveAssemblyReference.cache
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/UnitTestSubtitle.dll
/SubtitlePlayer/UnitTestSubtitle/obj/Debug/UnitTestSubtitle.pdb
/SubtitlePlayer/SubtitlePlayer/bin/Debug/MahApps.Metro.dll
/SubtitlePlayer/SubtitlePlayer/bin/Debug/MahApps.Metro.xml
/SubtitlePlayer/SubtitlePlayer/bin/Debug/System.Windows.Interactivity.dll
/SubtitlePlayer/SubtitlePlayer/obj/Debug/App.baml
/SubtitlePlayer/SubtitlePlayer/obj/Debug/GeneratedInternalTypeHelper.g.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer_MarkupCompile.i.lref
/SubtitlePlayer/SubtitlePlayer/obj/Debug/SubtitlePlayer_MarkupCompile.lref
/SubtitlePlayer/SubtitlePlayer/obj/Debug/FontChooser.baml
/SubtitlePlayer/SubtitlePlayer/obj/Debug/FontChooser.g.cs
/SubtitlePlayer/SubtitlePlayer/obj/Debug/FontChooser.g.i.cs
